img{
  transition: 1.5s;
}

input:checked ~ img{
  /* 1. nếu biến mất khỏi giao diện */
  /*display: none; */
  /* 2. biến khỏi giao diện, nhưng vẫn chiếm vị trí */
  /*visibility: hidden; */
  /* 3. làm mờ đi và không tương tác được */
    opacity: 0;
  /*visibility: hidden; */
}
